.banner {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}

.banner h1 {
  color: var(--white);
}

.banner p {
  max-width: 30rem;
  margin-bottom: 1.25rem;
  color: var(--light-blue);
  margin: 0 auto;
}

.btn-white {
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem;
  color: var(--white);
  border: solid 3px var(--white);
  text-transform: capitalize;
}

.btn-white:hover,
.btn-white:focus {
  background-color: rgba(255, 255, 255, 0.25);
}

/* @media screen and (min-width: 1025px) { */
#home {
  background: none;
}
.video-container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
/* } */

/* header after */
.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-blue);
  opacity: 0.9;
  z-index: -1;
}

/* switch button */

.switch-btn {
  display: none;
}
@media screen and (min-width: 1025px) {
  .switch-btn {
    position: absolute;
    bottom: 7%;
    left: 7%;
    width: 7rem;
    height: 2rem;
    display: flex;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: space-around;
    border: none;
    transition: var(--transition);
  }
  .switch-btn span {
    display: inline-block;
    font-size: 0.85rem;
    cursor: pointer;
    text-transform: capitalize;
    color: var(--white);
  }
  .switch {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--grey-blue);
    border-radius: 0.5rem;
    margin: 0;
    display: block;
    transition: var(--transition);
  }
  .slide .switch {
    left: 50%;
  }
}
