/* countdown timer */

img {
    width: 100%;
  }
  
  @media screen and (min-width: 992px) {
    .section-center {
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-items: center;
      gap: 3rem;
    }
    .gift-img {
      margin-bottom: 0;
    }
  }
  
  .deadline {
    display: flex;
  }
  
  .deadline-format {
    background: var(--dark-blue);
    color: var(--white);
    margin-right: 1rem;
    width: 5rem;
    height: 5rem;
    display: grid;
    place-items: center;
    text-align: center;
  }
  .deadline-format span {
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.85rem;
  }