/* countdown timer */



.deal-info h3 {
  margin: 2rem 0 0 0;
}

.deal-info h4 {
  font-size: 1.1em;
  margin: .5rem 0 2rem 0;
  color: var(--mid-blue);
}

.deal-info p {
  color: var(--dark-blue);
  margin: 0 0 2rem 0;
}

.deadline-format h4 {
  color: var(--white);
  font-size: 1.5em;
  margin: 0;
}

.deadline {
  display: flex;
}

.deadline-format {
  background: var(--dark-blue);
  color: var(--white);
  margin-right: 1rem;
  width: 5rem;
  height: 5rem;
  display: grid;
  place-items: center;
  text-align: center;
}

.deadline-format h4 {
  margin-top: .25rem;
}
.deadline-format span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}

@media screen and (min-width: 850px) {
.timer-container {
  max-width: 1170px;
  margin: 0 auto;
}


  .deal-info h3 {
    margin: 0;
  }
    .timer-article {
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-items: center;
      gap: 3rem;
    }
    .gift-img {
      margin-bottom: 0;
    }
  }